<div class="container">
  <div style="display: flex; flex-direction: row; justify-content: space-between">
    <h1>Mes avions</h1>
    <p><%= link_to "Ajouter un avion", new_user_aircraft_path(current_user), class: "btn btn-primary" %></p>
  </div>
  <div>
    <% if @aircrafts.any? %>
      <% @aircrafts.each do |a| %>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/358220/pexels-photo-358220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="aicraft">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5 class="card-title">Constructeur : <%= a.brand %>
              </h5><p>Cet avion est proposé par <strong><%= a.owner.first_name %> </strong></p></li>
              <li class="list-group-item"><p class="card-text">Série : <%= a.model %></p></li>
              <li class="list-group-item"><p class="card-text"><small class="text-muted">Price : <%= a.daily_price %> $</small></p></li>
            </ul>
          </div>
        </div>

        <div>
          <h4>Réservations confirmées et à confirmer</h4>
          <% a.bookings.each do |b| %>
            <div class="card-booking-owner">
              <img src="#" />
              <div class="card-booking-owner-infos">
                  <p> Client : <strong><%= b.user.first_name %></strong> </p>
                  <p>Location <strong><%= a.model %> </strong> du <%= b.start_on %> au <%= b.end_on %> </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>
        <strong>Il n'y a pas d'avions pour cet utilisateur</strong>
      </p>
    <% end %>
  </div>
</div>
