<div class="container" id="crad-show">
<div class="data-container">
  <img id="image" class="zoom-in-out-box" src="https://images.pexels.com/photos/3811676/pexels-photo-3811676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="aircraft-leggs">
  </div>
  <div class="text-content">
    <div class="text">
      <h1>Constructeur : <%= @aircraft.brand %></h1>
      <h2>Cet avion est proposé par <strong><%= @aircraft.owner.first_name %> </strong></h2>
      <p class="card-text">Série : <%= @aircraft.model %></p>
      <p class="card-text"><small class="text-muted">Price : <%= @aircraft.daily_price %> $</small></p>
        <%= render 'aircrafts/form' %>
    </div>
  </div>
</div>
