<div class="container" data-controller="show hello">
  <div class="card mb-3">
    <img src="https://images.pexels.com/photos/358220/pexels-photo-358220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="aicraft">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5 class="card-title">Constructeur : <%= @aircraft.brand %>
        </h5><p>Cet avion est proposé par <strong><%= @aircraft.owner.first_name %> </strong></p></li>
        <li class="list-group-item"><p class="card-text">Série : <%= @aircraft.model %></p></li>
        <li class="list-group-item"><p class="card-text"><small class="text-muted">Price : <%= @aircraft.daily_price %> $</small></p></li>
        <%= render 'aircrafts/form' %>
      </ul>
    </div>
  </div>
</div>
