<div class="container">
  <h1>Mes réservations</h1>
  <% if @bookings.exists? %>
    <% @bookings.each do |b| %>
      <%= link_to user_booking_path(params[:user_id], b.id) do %>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/358220/pexels-photo-358220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="aicraft">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5 class="card-title">Constructeur : <%= b.aircraft.brand %></h5></li>
              <li class="list-group-item"><h4>Cet avion est proposé par <strong><%= b.aircraft.owner.first_name %></strong></h4></li>
              <li class="list-group-item"><p class="card-text">Série : <%= b.aircraft.model %></p></li>
              <li class="list-group-item"><p class="card-text"><small class="text-muted">Price : <%= b.aircraft.daily_price %> $</small></p></li>
            </ul>
          </div>
          <div>
            <p>Statut de la réservation :
              <% if b.confirmed == nil %>
                <strong>En attente de validation</strong>
              <% elsif b.confirmed == true %>
                <strong>Validée</strong>
              <% elsif b.confirmed == false %>
                <strong>Refusée</strong>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <strong>Il n'y a pas de réservations pour cet utilisateur.</strong>
  <% end %>
</div>
