<body class="splash">
  <div class="container" id="crad-show">
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <h1 id="title-my-aircraft">Mes avions</h1>
      <p><%= link_to "Ajouter un avion", current_user.present? ? new_user_aircraft_path(current_user) : new_user_registration_path, class: "btn btn-primary" %></p>
    </div>
    <div class="data-container" id="space-under-elements">
     <% if @bookings.exists? %>
        <% @bookings.each do |b| %>
          <div class="element">
            <img id="image" class="zoom-in-out-box" src="https://images.pexels.com/photos/3811676/pexels-photo-3811676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="aircraft-leggs">
            <div class="text-content">
              <div class="text">
                  <h1>CONSTRUCTEUR : <%= b.aircraft.brand %></h1>
                  <h2>Cet avion est proposé par <strong><%= b.aircraft.owner.first_name %></strong></h2>
                  <p class="card-text">Série : <%= b.aircraft.model %></p>
                  <p class="card-text">Période : <%= b.start_on %> | <%= b.end_on %></p>
                  <p class="card-text"><small class="text-muted">Price : <%= number_to_currency(b.aircraft.daily_price, unit: "€", delimiter: " ", precision: 0, format: "%n %u") %> </small>$</p>
              </div>
              <div class="confirmed">
                <p>Statut de la réservation :
                  <% if b.confirmed == nil %>
                    <strong>En attente de validation</strong>
                  <% elsif b.confirmed == true %>
                    <strong>Validée</strong>
                  <% elsif b.confirmed == false %>
                    <strong>Refusée</strong>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>
          <strong>Il n'y a pas de réservation pour cet utilisateur</strong>
        </p>
      <% end %>
    </div>
  </div>
</body>
