<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-plane-departure fa-2x"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Accueil", root_path, class: "nav-link"%>
            </li>
            <li class="nav-item active">
              <%= link_to "Mes réservations", user_bookings_path(current_user), class: "nav-link"%>
              <% current_user.bookings.each do |b| %>
                <% if b.present? && !b.confirmed %>
                  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to "Mes avions", user_aircrafts_path(current_user), class: "nav-link"%>
              <% current_user.aircrafts.each do |a| %>
                <% a.bookings.each do |b| %>
                  <% if b.present? && !b.confirmed %>
                    <span class="position-absolute top-0 l-75 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                  <% end %>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item dropdown">
            <i class="fa-solid fa-earth-europe fa-3x" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="dropdown-item"><%= current_user&.email %></p>
              <hr class="dropdown-divider">
              <%# <%= link_to "Notifications", "#", class: "dropdown-item" %>
              <%= link_to "Mes réservations", user_bookings_path(current_user), class: "dropdown-item" %>
              <%= link_to "Créer une annonce", new_user_aircraft_path(current_user), class: "dropdown-item" %>
              <%# <%= link_to "Compte", "#", class: "dropdown-item" %> %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
